/* ------------ circle text on main page ------------ */
.circle-body{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

*{
    box-sizing: border-box;
}
.text-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.text-box .text{
    position: absolute;
    color: rgb(255, 163, 163);
    font-size: 20px;
    user-select: none;
    pointer-events: none;
    animation: Rotation1 35s linear infinite;
}

@keyframes Rotation1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#t1 span{
    position: absolute;
    top: -120px;
    display: inline-block;
    transform-origin: 0 120px;
}

#t2 span{
    position: absolute;
    top: -150px;
    display: inline-block;
    transform-origin: 0 150px;
}

#t3 span{
    position: absolute;
    top: -180px;
    display: inline-block;
    transform-origin: 0 180px;
}

#t4 span{
    position: absolute;
    top: -210px;
    display: inline-block;
    transform-origin: 0 210px;
}

#t5 span{
    position: absolute;
    top: -240px;
    display: inline-block;
    transform-origin: 0 240px;
}

#t6 span{
    position: absolute;
    top: -270px;
    display: inline-block;
    transform-origin: 0 270px;
}

#t7 span{
    position: absolute;
    top: -300px;
    display: inline-block;
    transform-origin: 0 300px;
}


#t8 span{
    position: absolute;
    top: -330px;
    display: inline-block;
    transform-origin: 0 330px;
}

#t9 span{
    position: absolute;
    top: -360px;
    display: inline-block;
    transform-origin: 0 360px;
}

#t10 span{
    position: absolute;
    top: -390px;
    display: inline-block;
    transform-origin: 0 390px;
}

#t11 span{
    position: absolute;
    top: -420px;
    display: inline-block;
    transform-origin: 0 420px;
}

#t12 span{
    position: absolute;
    top: -450px;
    display: inline-block;
    transform-origin: 0 450px;
}


/* ------------ cursor ------------ */

.cursor{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transition-duration: 10ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform-origin: 100% 100%;
    transition: all 0.1s ease;
    transition-property: scale;
    z-index:1000;
}

.link-change{
    z-index: 10000; 
    scale: 0.7;
}


