/* ------------ circle text on main page ------------ */
*{
    box-sizing: border-box;
}

.text-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(224, 218, 201);
}

.text-box .text{
    position: absolute;
    color:white;
    font-size: 20px;
    user-select: none;
    pointer-events: none;
    animation: Rotation 60s linear infinite;
}

@keyframes Rotation{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* .text-box .text span{
    position: absolute;
    top: -100px;
    text-transform: uppercase;
    display: inline-block;
    transform-origin: 0 100px;
} */

#t1 span{
    position: absolute;
    top: -120px;
    display: inline-block;
    transform-origin: 0 120px;
}

#t2 span{
    position: absolute;
    top: -150px;
    display: inline-block;
    transform-origin: 0 150px;
}

#t3 span{
    position: absolute;
    top: -180px;
    display: inline-block;
    transform-origin: 0 180px;
}

#t4 span{
    position: absolute;
    top: -210px;
    display: inline-block;
    transform-origin: 0 210px;
}

#t5 span{
    position: absolute;
    top: -240px;
    display: inline-block;
    transform-origin: 0 240px;
}

#t6 span{
    position: absolute;
    top: -270px;
    display: inline-block;
    transform-origin: 0 270px;
}

#t7 span{
    position: absolute;
    top: -300px;
    display: inline-block;
    transform-origin: 0 300px;
}

#t8 span{
    position: absolute;
    top: -330px;
    display: inline-block;
    transform-origin: 0 330px;
}

#t9 span{
    position: absolute;
    top: -360px;
    display: inline-block;
    transform-origin: 0 360px;
}

#t10 span{
    position: absolute;
    top: -390px;
    display: inline-block;
    transform-origin: 0 390px;
}