
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: rgb(241, 238, 229);
}
/* ------------ header ------------ */
.menu-container{
    display: flex;
    justify-content:space-around;
    /* margin-left: 45px; */
    padding: 20px 10% 20px 10%;
}

.menu-item{
    width: 100px;
    margin: 0px;
    font-size: 18px;
    flex-basis: 50px;
    flex-grow:10;
    text-align: center;
}

.logo-item{
    font-size: 20px;
    color: rgb(80, 19, 124);
    flex-basis: 100px;
    flex-grow:0;
    margin-left: 10%;
}

/* ------------ links ------------ */
a{
    color: green;
    text-decoration: none;
}

a:hover{
    color: blue;
}

/* ------------ titles ------------ */
.medium-container{
    display: flex;
    justify-content: center;
    height:200px;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    padding-top: 200px;
    padding-bottom: 300px;
}

.medium-container .title{
    text-align: left;
    font-size: 80px;
}

.medium-container .text{
    text-align: center;
}

/* ------------ about me page ------------ */
.about-me-container{
    display: flex;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    padding: 0 15% 0 15%;
    padding-top: 10px;
}

.about-me-container .title{
    font-size: 75px;
    font-style:italic;
}

.about-me-container .text{
    padding-left: 40%;
}

.about-me-container .image{
    position: absolute;
    size-adjust: 20%;
}

/* ------------ interactive media page ------------ */

.im-highlighted-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    height: 30%;
    padding:5% 15% 5% 15%;
}

.im-highlighted-container .title{
    font-size: 50px;
    letter-spacing: 20px;
    text-align: center;
    margin:0;
}

.im-highlighted-container .sub-heading{
    font-size: 22px;
    text-align: center;
    margin: 0px;
    color: blue;
}

.im-highlighted-container .desc{
    font-size: 16px;
    text-align: center; 
    /* margin: 0 10% 0 50%; */
    letter-spacing: 0px;
}

.highlighted-gallery{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.highlighted-gallery .image{
    size: 200px;
}

.im-container{
    display: flex;
    justify-content: center;
    align-items: left;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    height: 30%;
    padding:5% 10% 5% 10%;
}

.im-container .title{
    font-size: 40px;
    letter-spacing: 6px;
    text-align: left;
    margin:0;
}

.im-container .sub-heading{
    font-size: 22px;
    text-align: left;
    margin: 0px;
    color: red;

}

.im-container .desc{
    font-size: 16px;
    text-align: left; 
}

.im-container .img {

}