:root{
    --green--c: #27857F;
    --beige--c: #F6F2E7;
    --white--c: #ffffff;
    --beige--ct: #f1ede4e9;
    --green--ct: #27857F80;
    --grey--c: #eaeaea;
    --accent--c: #b6d844;
    --highlight--c: #ebffa9;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin:0;
}

.fade{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

section {
    min-height: 100vh;
}

#preloader {
    height:100vh;
    width:100%;
    position:fixed;
    z-index: 10000000;
}
/* ------------ navbar section ------------ */
#main-nav{
    font-size: 20px;
    background: var(--white--c);
    padding: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    box-sizing: border-box;
    height: 45px;
    /* border: 2px solid var(--green--c); */
    left: 50%;
    top:2.5%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav a:target{
    font-weight: 500;
}

/* ------------ deco circles section ------------ */
.background-circles{
    top:50%;
    left:50%;
    transform: translate(50%,50%);
}
.container {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -10000;
}
  
.span-c {
    width: 12.4%;
    height: auto;
    display: inline-block;
    padding: 20px;
}
  
.circle {
    position: relative;
    border-radius: 50%;
    padding-top: 100%;
    border: 1px solid var(--accent--c);
  }

/* ------------ header section ------------ */
.introduction-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    padding: 150px 40% 0 50px; 
}

.intro-head{
    font-size: 32px;
}

.intro-sub{
    margin: 15px 0 0 0 ;
    font-size: 22px;
    color: var(--green--c);
}

.more-about-me{
    text-align: right;
    color: var(--green--c);
    font-weight: 500;
    font-size: 28px;
    margin-top: 15px;
}

.deco-circle{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top:35%;
    left:70%;
    z-index: -1;
}

/* ------------ work section ------------ */
#work{
    padding-top:50px;
}

.work-title-container{
    display:flex;
    justify-content: space-between;
}

.section-title{
    font-size: 32px;
    margin: 10px 20px 10px 20px;
}

.section-red{
    color: var(--green--c);
    background-color: var(--white--c);
}

.projects-container{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.image{
    position: relative;
    width: 30em;
    height: 20em;
    margin: 0 5px 0 5px;
    overflow: hidden;
}

.image-img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background: var(--beige--ct); */
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: var(--beige--ct);
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.25s;
}

.image-overlay:hover{
    opacity: 0;
}

.image-title{
    font-size: 26px;
    font-weight: 400;
    float:left;
    margin: 20px 20px 0 20px;

}
.image-desc{
    font-size: 17px;
    margin: 0 20px 0 20px;
}
 
/* ------------ art ------------ */

.art-title-container{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

/* ------------ contact-me ------------ */
#contact{
    padding-top: 50px;
}
.contact-sub{
    font-size: 24px;
    margin:1em 0 2em 0;
}

#contact-container{
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

#contact-space{
    flex: 1 0 40%;
}

.envelope-img{
    width:250px;
    display: block;
    margin:auto;
    margin-top: 200px;
    filter:contrast(90);
}

.envelope-img:hover{
    content:url("/images/opened-envelope.png");
    width: 220px;
    margin-top: 120px;
}

#contact-form{
    flex-basis: 100px;
    flex-grow:35;
    margin: 1% 2% 0 2%;
    width: 50%;
    height: 60vh;
    border-radius: 10px;
}

input, textarea { 
    margin: 0.4em auto;
    font-family: inherit; 
    font-size: inherit;
    display: block; 
    width: 97.5%; 
    padding: .4em;
    border-radius: 10px;
    border: 1px solid black;
    background: var(--grey--c);
}

textarea {
    height: 200px; resize: none; 
}

.form-button { 
    width: 100px;
    display: inline-block;
    margin-top: 20px;
    background: var(--beige--c);
    color: black;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 40px;
    border-radius: 15px;
    /* cursor: none; */
    transition: all 0.25s;
}
.form-button:hover{
    background-color: white;
    border-radius: 0px;
    color: black;
    border: 2px solid var(--accent--c);
} 

/* ------------ links ------------ */
a{
    color: var(--green--c);
    text-decoration: none;
}

a:hover{
    color: var(--accent--c);
    /* cursor: none; */
}

::selection {
    background: var(--highlight--c);
}

/* ------------ about me page ------------ */
.about-title{
    font-size: 48px;
    margin: 10px 20px 10px 20px;
}

.container-section-h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 25px 0 0;
}
.container-all{
    display: flex;
    flex-direction: column;
}

.container-section-1h{
    display: flex;
    flex-direction: row;
}

.container-section-1v{
    display: flex;
    flex-direction: column;
}

.container-section-2h{
    display: flex;
    flex-direction: row;
}
.about-sub{
    font-size: 30px;
    color: var(--green--c);
    margin: 15px 0 0 25px;
}

.about-desc{
    margin: 0 15px 0 25px;
    font-size: 18px;
}
.list-items{
    list-style: none;
    font-size: 18px;
    margin: 10px 15px 0 0;
    /* text-transform: uppercase; */
}

.about-img{
    height: 500px;
    width: 560px;
    object-fit: cover;
    margin: 0 25px 0 0;
    box-shadow: 0 0 10px var(--green--c);
    transition: all 0.3s;
}
.about-img:hover{
    box-shadow: 0 0 25px var(--green--c);
}

.container-section-3h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px 0 25px;
    align-items: center;
}
.currently-per{
    margin: 0 20px 0 0;
    flex: 0 1 18%;
}
.currently-title{
    font-size: 20px;
    font-style: italic;
    color:var(--green--c);
}
.currently-desc{
    font-size: 18px;
}

.currently-img{
    margin-top: 2px;
    height: 50px;
    width: auto;
    transition: all 0.3s;
}