:root{
    --green-c: #27857F;
    --beige-c: #F6F2E7;
    --white-c: #ffffff;
    --beige-ct: #F6F2E7e9;
    --grey-c: #eaeaea;
    --accent-c: #b6d844;
    --highlight-c: #ebffa9;
    --highlight-ct: #ebffa9d4;
    --accent-ct: #b6d844e9;
    --blue-c: #8dbbff;
    --orange-c: #f0f2ff;
}


@media screen and (max-width: 1500px){
    .about-line1{
        display: none;
    }

    .about-line2{
        display:none;
    }
}

/* ------------ for 1300 ------------ */

@media screen and (max-width: 1300px){
    
    /* header */
    .pushable{
        margin: 100px 30% 0 60%;
    }

    /* contact */
    #contact-space{
        flex: 1 0 30%;
    }

    .envelope-img{
        width: 200px;
    }

    .envelope-img:hover{
        width: 180px;
    }

    /* about-me */

    .about-desc{
        font-size: 16px;
    }

    .about-list .list-items{
        font-size: 16px;
    }

    .about-img2{
        height: 500px;
        width: 30%;
    }

    .currently-title{
        font-size: 18px;
    }

    .currently-desc{
        font-size: 16px;
    }

    .currently-img{
        margin-top: 2px;
        height: 40px;
        width: auto;
        transition: all 0.3s;
    }

    /* art */
    #art{
        display:none;
    }

    .hide-art-menu{
        display:none;
    }

    #work{
        margin-bottom: 26px;
    }
}

/* ------------ for tablet ------------ */
@media screen and (max-width: 912px){

    /* header */
    .pushable{
        margin: 130px 30% 0 50%;
    }

    .intro-head{
        font-size: 30px;
    }

    .intro-sub{
        font-size: 20px;
        color: var(--green-c);
        padding: 15px 0% 0 0%;
    }


    /* art */

    
    .table-line1 {
        height: 150vh;
    }

    .table-line2 {
        height: 150vh;
    }

    /* work */
    .work-title {
        font-size: 26px;
    }

    /* about-me */
    .about-desc{
        font-size: 15px;
    }

    .about-list .list-items{
        font-size: 15px;
    }

    .about-img1{
        display:block;
    }
    .about-img2{
        display:none;
    }

    .container-section-1h{
        display: flex;
        flex-direction: column;
    }

    .currently-title{
        font-size: 18px;
    }

    .currently-desc{
        font-size: 14px;
    }
    .currently-img{
        margin-top: 2px;
        height: 30px;
        width: auto;
        transition: all 0.3s;
    }

    .container-section-3h{
        margin-bottom: 50px;
    }
}


/* ------------ for 620 cuz the sketchbook looks awkward here ------------ */

@media screen and (max-width: 620px){
    
    /* header */
    .pushable{
        margin: 140px 30% 0 60%;
    }
    .more-about-me{
        text-align: center;
        text-decoration:none;
        color:black;
        width:100px;
        display:inline-block;
        line-height:40px;
        font-size:24px;
    }

    .introduction-container{
        margin-top: 40px;
        display: flex;
        height: 100px;
        padding: 150px 20% 0 20%; 
    }

    .intro-head{
        font-size: 28px;
    }

    .intro-sub{
        font-size: 18px;
        color: var(--green-c);
        padding: 0px 0% 0 0%;
    }

    /* work */

    .work-title {
        font-size: 22px;
    }

    .projects-container{
        align-items: center;
        justify-content: space-between;
        height:95vh;
        flex-direction: column;
        margin: 0 0 20px 0;  
    }

    .image{
        position: relative;
        width: 90vw;
        height: 30vh;
        overflow: hidden;
    }


    /* art */


    #contact-me{
        height: 58vh;
        margin-top: 80px;
        margin-bottom: 270px;
    }

    .contact-sub{
        font-size: 22px;
        margin:1em 0 2em 0;
    }
    
    .envelope-img{
        display: none;
    }

    .envelope-img:hover{
        display: none;
    }

    #contact-container{
        display: flex;
        flex-direction: row;
        align-items: space-around;
    }
    .contact-sub{
        font-size: 24px;
        margin:1em 5px 2em 5px;
    }

    #contact-space{
        flex: 1 0 0%;
    }

    #contact-form{
        height: 60vh;
        border-radius: 10px;
    }
    
    input, textarea { 
        margin: 0.4em auto;
        font-family: inherit; 
        font-size: inherit;
        display: block; 
        width: 96%; 
        padding: .4em;
        border-radius: 10px;
        border: 1px solid black;
        background: var(--grey-c);
    }
    
    textarea {
        height: 200px; resize: none; 
    }
}





/* ------------ for iPhone XR ------------ */

@media screen and (max-width: 414px){

    body{
        overflow-x:hidden;
    }

    /* navbar */
    /* #main-nav {
        background: var(--white-c);
        padding: 5px;
        text-align: center;
        width: 80%;
        position: fixed;
        box-sizing: border-box;
        height: 45px;
        border: 2px solid var(--green-c);
        border-radius: 15px;
        left: 50%;
        top: 90%;
        transform: translate(-50%, 0%);
        display: flex;
        justify-content: space-between;
        z-index: 100;
        /* box-shadow: 0 0 10px var(--green-c);
    } */

    #main-nav {
        z-index: 1000000;
        font-size: 18px;
    }


    nav a {
        color: var(--green-c);
        text-decoration: none;
        margin: 0px 10px;
        padding: 5px;
    }

    .hide-art-menu{
        display:none;
    }

    /* header */

    #circ-text{
        color: var(--highlight-ct);
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
        z-index: -100000000;
    }

    .circ-anim-container{
        position: absolute;
        height: 80vh;
    }
      
    .circ-anim{
        position: fixed;
        top: -40%;
        left: -10%;
    }

    .deco-circle{
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        top:15%;
        left:40%;
        z-index: -1;
        background-color: var(--orange-c); 
    }

    #header{
        margin-top: 50px;
        height: 50vh;
    }

    .introduction-container{
        display: flex;
        height: 90px;
        padding: 0 10% 0 10%; 
    }

    .intro-head{
        font-size: 24px;
    }

    .pushable{
        margin: 100px 0 0 46%;
    }

    .more-about-me{
        text-align: center;
        text-decoration:none;
        color:black;
        width:146px;
        display:inline-block;
        line-height:36px;
        font-size:18px;
    }

    /* work */
    .xtra{
        display:none;
    }

    /* #work{
        padding-top:20px;
    } */
    
    .work-title {
        font-size: 18px;
        display:none;
    }
    
    .cover-title{
        font-size: 22px;
        font-weight: 400;
    }

    .cover-role{
        display: none;
    }

    .cover-medium{
        font-size: 18px;
    }


    /* contact */
    textarea {
        height: 120px; resize: none; 
    }

    .contact-sub{
        font-size: 20px;
        margin:1em 0 2em 0;
    }

    input, textarea { 
        margin: 0.4em auto;
        font-family: inherit; 
        font-size: inherit;
        display: block; 
        width: 95%; 
        padding: .4em;
        border-radius: 10px;
        border: 1px solid black;
        background: var(--grey-c);
    }
    
    #contact-form{
        margin: 0 17px 0 10px;
    }

    /* art */
    .table-line1, .table-line2, .table-line3, .table-line4{
        display:none;
    }
      
    /* about */
    .container-section-2h{
        flex-direction: column;
    }

    .container-section-1v{
        margin: 0 15px 120px 0;
    }

    .currently{
        display: none;
    }

    .container-section-3h{
        display: none;
    }

    /* projects */
    .indiv-project-container{
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:0 7vw 0 7vw;
    }

    .indiv-title{
        text-align: center;
        font-size: 34px;
        font-weight: 400;
        color:black;
        margin:100px 15px 10px 15px;
    }
    
    .indiv-heading{
        font-size: 20px;
        color:black;
        margin:5vh 10px 10px 10px;
        font-weight: 400;
        /* background: var(--highlight-c); */
    }
    .indiv-info{
        font-size: 10px;
        line-height: 1.25;
        font-weight: 400;
        text-align: center;
        background: #f5d8ff;
    }
    
    .indiv-body{
        font-size: 13px;
        margin: 10px 10px 10px 10px;
        line-height: 1.6;
    }
    
    .indiv-img{
        width: 80vw;
        height: auto;
        margin: 20px;
        user-select: none;
    }
    .indiv-img-doesnt-fit{
        width: 100vw;
        height: auto;
        margin: 10px;
        user-select: none;
    }

    .indiv-img2{
        height: auto;
        width: 80vw;
        margin: 10px;
        user-select: none;
    }

    .indiv-img-gd{
        height: auto;
        width: 80vw;
        margin: 10px;
        user-select: none;
    }
    
    .indiv-vid2{
        height: auto;
        width: 80vw;
        margin: 10px;
        user-select: none;
    }
    
    .rounded-img{
        border-radius: 50px;
        background-position: left top;
        background-repeat: repeat;
        margin: 50px 0 50px 0;
        width: 60vw;
        height: auto;
        box-shadow: 0 0 3px var(--green-c);
    }
    
    .step{
        min-height: 40vh;
    }
    
    .col-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .img-caption{
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction:column;
        font-size: 10px;
    }
    
    .caption{
        margin: 0;
        padding: 0;
        font-style: italic;
        color:var(--green-c);
        font-size: 12px;

    }
    
    .footer{
        min-height: 10vh;
    }
    
    .spacing{
        min-height: 10vh;
    }
    .indiv-list-items{
        padding: 0 2vw 0 3vw;
    }
    .indiv-list-items li{
        padding: 0 0 8px 0 ;
    }
}