:root{
    /* --green--c: #00a5f1; */
    --green-c: #27857F;
    /* --green-c: #ff0000; */
    --beige-c: #F6F2E7;
    --white-c: #ffffff;
    --beige-ct: #F6F2E7e9;
    --grey-c: #eaeaea;
    --accent-c: #b6d844;
    --highlight-c: #ebffa9;
    --highlight-ct: #ebffa9d4;
    --accent-ct: #b6d844e9;
    --blue-c: #8dbbff;
    --orange-c: #f0f2ff;
}

/* ------------ for 1300 ------------ */

@media screen and (max-width: 1300px){
    
    /* header */
    .pushable{
        margin: 50px 30% 0 53%;
    }

    /* about-me */
    .about-desc{
        font-size: 16px;
    }

    .about-list .list-items{
        font-size: 16px;
    }

    .about-img2{
        height: 500px;
        width: 30%;
    }

    .currently-title{
        font-size: 18px;
    }

    .currently-desc{
        font-size: 16px;
    }

    .currently-img{
        margin-top: 2px;
        height: 40px;
        width: auto;
        transition: all 0.3s;
    }

}

/* ------------ for tablet ------------ */
@media screen and (max-width: 912px){

    /* art */
    .table-line1 {
        height: 150vh;
    }

    .table-line2 {
        height: 150vh;
    }

    /* contact */

    /* about-me */
    .about-desc{
        font-size: 15px;
    }

    .about-list .list-items{
        font-size: 15px;
    }

    .about-img1{
        display:block;
    }
    .about-img2{
        display:none;
    }

    .container-section-1h{
        display: flex;
        flex-direction: column;
    }

    .currently-title{
        font-size: 18px;
    }

    .currently-desc{
        font-size: 14px;
    }
    .currently-img{
        margin-top: 2px;
        height: 30px;
        width: auto;
        transition: all 0.3s;
    }

    .container-section-3h{
        margin-bottom: 50px;
    }
}

/* ------------ for iPhone XR ------------ */

@media screen and (max-width: 414px){

    /* navbar */
    /* #main-nav {
        background: var(--white-c);
        padding: 5px;
        text-align: center;
        width: 80%;
        position: fixed;
        box-sizing: border-box;
        height: 45px;
        border: 2px solid var(--green-c);
        border-radius: 15px;
        left: 50%;
        top: 90%;
        transform: translate(-50%, 0%);
        display: flex;
        justify-content: space-between;
        z-index: 100;
    } */

    nav a {
        color: var(--green-c);
        text-decoration: none;
        margin: 0px 10px;
        padding: 5px;
    }

    /* header */
    .introduction-container{
        display: flex;
        height: 100px;
        padding: 0px 10% 0 10%; 
    }

    .intro-head{
        font-size: 28px;
    }

    .intro-sub{
        font-size: 16px;
        color: var(--green-c);
        padding: 15px 0% 0 0%;
    }

    .pushable{
        margin: 120px 0 0 65%;
    }

    .more-about-me{
        text-align: center;
        text-decoration:none;
        color:black;
        width:100px;
        display:inline-block;
        line-height:40px;
        font-size:24px;
        font-weight:500;
        text-transform:lowercase;
        background-color: #fff;
        border:3px solid black;
        box-shadow:-1px 1px 0, -2px 2px 0, -3px 3px 0, -4px 4px 0,-5px 5px 0;
        position: relative;
    }

    .more-about-me:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width:100%;
        z-index: -1;
        background-color: #fff;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .more-about-me:active{
        top:5px;
        left:-5px;
        box-shadow:0 0 0 0;
    }

    .deco-circle{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top:15%;
        left:50%;
        z-index: -1;
        background-color: var(--orange-c);
    }

    /* work */
    #work{
        padding-top:20px;
    }

    .work-title {
        display: flex;
        justify-content: space-between;
        user-select: none;
        margin:  10px 10px 10px;
        font-size: 20px;
    }
    





    /* contact */
    
    #contact-container{
        display: flex;
        flex-direction: row;
        align-items: space-around;
    }
    .contact-sub{
        font-size: 24px;
        margin:1em 5px 2em 5px;
    }
    #contact-space{
        flex: 1 0 0%;
    }

    .envelope-img{
        display: none;
    }

    .envelope-img:hover{
        display: none;
    }

    #contact-form{
        height: 80vh;
        border-radius: 10px;
    }
    
    input, textarea { 
        margin: 0.4em auto;
        font-family: inherit; 
        font-size: inherit;
        display: block; 
        width: 96%; 
        padding: .4em;
        border-radius: 10px;
        border: 1px solid black;
        background: var(--grey-c);
    }
    textarea {
        height: 280px; resize: none; 
    }
    
    /* art */
    .table-line1, .table-line2, .table-line3, .table-line4{
        display:none;
    }
      
    /* about */
    .container-section-2h{
        flex-direction: column;
    }

    .container-section-1v{
        margin: 0 15px 120px 0;
    }

    .currently{
        display: none;
    }
    .container-section-3h{
        display: none;
    }

}