:root{
    /* --green--c: #00a5f1; */
    --green-c: #27857F;
    /* --green-c: #ff0000; */
    --beige-c: #F6F2E7;
    --white-c: #ffffff;
    --beige-ct: #F6F2E7e9;
    --grey-c: #eaeaea;
    --accent-c: #b6d844;
    --highlight-c: #ebffa9;
    --highlight-ct: #ebffa9d4;
    --accent-ct: #b6d844e9;
    --blue-c: #8dbbff;
    --orange-c: #f0f2ff;
}

.hide-content{
    display:none;
}

.indiv-project-container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 20vw 0 20vw;

}

.indiv-title{
    font-size: 40px;
    font-weight: 400;
    color:black;
    margin:120px 15px 10px 15px;
}

.indiv-heading{
    font-size: 26px;
    color:black;
    margin:5vh 10px 10px 10px;
    font-weight: 400;
    /* background: var(--highlight-c); */
}
.indiv-info{
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
    background: #f5d8ff;
}

.indiv-medium{
    font-size: 20px;
}

.indiv-role{
    font-size: 20px;
}

.indiv-body{
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    line-height: 1.6;
}

.indiv-img{
    width: 60vw;
    height: auto;
    margin: 20px;
    user-select: none;
}

.rounded-img{
    border-radius: 50px;
    background-position: left top;
    background-repeat: repeat;
    margin: 50px 0 50px 0;
    width: 60vw;
    height: auto;
    box-shadow: 0 0 3px var(--green-c);
}

.number-items{
    list-style: none;
    font-size: 16px;
    margin: 15px 0px 0 0;
}

.step{
    min-height: 40vh;
}

.col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-caption{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}

.caption{
    margin: 0;
    padding: 0;
    font-style: italic;
    color:var(--green-c);
}

.footer{
    min-height: 20vh;
}

.spacing{
    min-height: 18vh;
}