:root{
    /* --green--c: #00a5f1; */
    --green-c: #27857F;
    /* --green-c: #ff0000; */
    --beige-c: #F6F2E7;
    --white-c: #ffffff;
    --beige-ct: #F6F2E7e9;
    --grey-c: #eaeaea;
    --accent-c: #b6d844;
    --highlight-c: #ebffa9;
    --highlight-ct: #ebffa9d4;
    --accent-ct: #b6d844e9;
    --blue-c: #8dbbff;
    --orange-c: #f0f2ff;
}

.hide-content{
    display:none;
}

.indiv-project-container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.indiv-title{
    font-size: 40px;
    color:black;
    margin:70px 15px 0 15px;
}

.indiv-medium{
    font-size: 20px;
}

.indiv-role{
    font-size: 20px;
}

.body-image-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.indiv-body{
    margin: 20px;
}

.indiv-thumbnail-image{
    height: 60vh;
    width: auto;
    margin: 20px;
}