/* ------------ page resizing: M screens ------------ */
@media screen and (max-width: 900px){
    .menu-item{
        font-size: 16px;
    }
    .medium-container .title{
        font-size: 60px;
    }
}

/* ------------ page resizing: S screens ------------ */
@media screen and (max-width: 600px){
    .menu-item{
        font-size: 14px;
    }
    .medium-container .title{
        font-size: 50px;
    }
    .medium-container .text{
        text-align: right;
    }
}
