/* ------------ main nav section for phone ------------
#main-nav {
    background: var(--white--c);
    padding: 5px;
    text-align: center;
    width: 40%;
    position: fixed;
    box-sizing: border-box;
    height: 45px;
    border: 2px solid var(--green--c);
    border-radius: 15px;
    left: 50%;
    top:90%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav a {
    color: var(--green--c);
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px;
  }

nav a.active {
    color: #1e1e1e;
    background: white;
}

nav a:hover {
    text-decoration: underline;
}
   */
