
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: rgb(241, 238, 229);
}

/* ------------ circle text on main page ------------ */
*{
    box-sizing: border-box;
}

.text-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(224, 218, 201);
}

.text-box .text{
    position: absolute;
    color:white;
    font-size: 20px;
    user-select: none;
    pointer-events: none;
    animation: Rotation 10s linear infinite;
}

@keyframes Rotation{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.text-box .text span{
    position: absolute;
    top: -100px;
    /* text-transform: uppercase; */
    display: inline-block;
    transform-origin: 0 100px;
}

/* #t1{
    position: absolute;
    top: -150px;
    display: inline-block;
    transform-origin: 0 150px;
}

#t2{
    position: absolute;
    top: -200px;
    display: inline-block;
    transform-origin: 0 200px;
} */

/* ------------ header ------------ */
.menu-container{
    display: flex;
    justify-content:space-around;
    /* margin-left: 45px; */
    padding: 20px 10% 20px 10%;
}

.menu-item{
    width: 100px;
    margin: 0px;
    font-size: 18px;
    flex-basis: 50px;
    flex-grow:10;
    text-align: center;
}

.logo-item{
    font-size: 20px;
    color: rgb(80, 19, 124);
    flex-basis: 100px;
    flex-grow:0;
    margin-left: 10%;
}

/* ------------ links ------------ */
a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 0, 0);
}

/* ------------ titles ------------ */
.medium-container{
    display: flex;
    justify-content: center;
    height:200px;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    padding-top: 200px;
}

.medium-container .title{
    text-align: left;
    font-size: 80px;
}

.medium-container .text{
    text-align: center;
}

/* ------------ about me page ------------ */
.about-me-container{
    display: flex;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    padding: 0 15% 0 15%;
    padding-top: 10px;
}

.about-me-container .title{
    font-size: 75px;
    font-style:italic;
}

.about-me-container .text{
    padding-left: 40%;
}

.about-me-container .image{
    position: absolute;
    size-adjust: 20%;
}

/* ------------ interactive media page ------------ */

.im-highlighted-container{
    
}

/* ------------ page resizing: M screens ------------ */
@media screen and (max-width: 900px){
    .menu-item{
        font-size: 16px;
    }
    .medium-container .title{
        font-size: 60px;
    }
}

/* ------------ page resizing: S screens ------------ */
@media screen and (max-width: 600px){
    .menu-item{
        font-size: 14px;
    }
    .medium-container .title{
        font-size: 50px;
    }
    .medium-container .text{
        text-align: right;
    }
}
